<div class="content">
  <div class="white-box">
    <h1 class="title has-text-primary">Login</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          #emailInput
          class="input has-background-light"
          type="email"
          placeholder="Email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          #passwordInput
          class="input has-background-light"
          type="password"
          placeholder="Password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end">
      <p class="control">
        <button
          class="button is-primary has-text-white"
          (click)="onLoginBtnClick(emailInput.value, passwordInput.value)"
        >
          Login
        </button>
      </p>
    </div>
    <div style="display: flex; justify-content: center">
      <div>
        <p>Don't have an account? <a routerLink="/register">Sign up</a> now!</p>
      </div>
    </div>
  </div>
</div>
