<div class="content">
  <div class="container">
    <div class="lists-list has-background-white">
      <h1 class="title has-text-primary">Lists</h1>
      <div class="lists-menu">
        <a
          class="lists-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active"
        >
          <p>{{ list.title }}</p>
        </a>
      </div>
      <button class="button is-primary create-button" routerLink="/create-list">
        Create New List
      </button>
    </div>
    <div class="tasks-list has-background-light">
      <h1 class="title has-text-primary">Tasks</h1>
      <div
        class="task"
        *ngFor="let task of tasks"
        (click)="onClick(task)"
        [ngClass]="{ completed: task.isCompleted }"
      >
        <p>{{ task.content }}</p>
      </div>
      <button
        class="circle-add-button button is-primary"
        routerLink="./create-task"
      >
        Add
      </button>
    </div>
  </div>
</div>
