<div class="content">
  <div class="container">
    <div class="lists-list has-background-white">
      <h1 class="title has-text-primary">Lists</h1>
      <div class="lists-menu">
        <a
          class="lists-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active"
        >
          <p>{{ list.title }}</p>
        </a>
      </div>
      <button class="button is-primary create-button" routerLink="/create-list">
        Create New List
      </button>
      <button
        class="button logout-button is-danger"
        (click)="onLogoutBtnClick()"
      >
        Logout
      </button>
    </div>
    <div class="tasks-list has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">Tasks</h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu4"
              >
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <a
                    class="dropdown-item"
                    [routerLink]="['/edit-list/', selectedListId]"
                  >
                    Edit
                  </a>
                  <a
                    class="dropdown-item has-text-danger"
                    (click)="onDeleteListClick()"
                  >
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="task"
          *ngFor="let task of tasks"
          (click)="onClick(task)"
          [ngClass]="{ completed: task.isCompleted }"
        >
          <div class="task-text">
            <p>{{ task.content }}</p>
          </div>
          <div class="task-buttons">
            <button
              class="button"
              [routerLink]="['/lists', selectedListId, 'edit-task', task._id]"
            >
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>
            <button
              class="button is-danger"
              style="margin-left: 5px"
              (click)="onDeleteTaskClick(task._id)"
            >
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
          </div>
        </div>
        <h3 *ngIf="tasks.length == 0" class="no-list-text">
          There are no tasks in this list. Click the "Add" button to create a
          new task.
        </h3>
        <button
          class="circle-add-button button is-primary"
          routerLink="./create-task"
        >
          Add
        </button>
      </div>
      <div *ngIf="!tasks">
        <h3 class="no-list-text">Please select a list</h3>
      </div>
    </div>
  </div>
</div>
