<div class="content">
  <div class="box">
    <h1 class="title">Create a new task</h1>
    <input
      #taskContentInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter task name..."
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="../">Cancel</button>
      <button
        class="button is-primary has-text-white is-medium"
        (click)="createTask(taskContentInput.value)"
      >
        Create
      </button>
    </div>
  </div>
</div>
